
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
margin-bottom: 40px;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}
.coloum2{
    width: 85%;
    height: 400px;
    border-color: black;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.boxx{
  width: 85%;
 margin-left: 50px;
  padding: 50px;
  height: 400px; 
}
.box1{
    
    margin-top: 120px;
    margin-left: 160px;
      padding: 16px 16px;
}
.logo{
    width:"20px";
    height: "20px";
}
.button1{
     background-color: #2F4F4F; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 16px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button2{
    background-color:#2F4F4F;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:2px 50px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.header{
     background-color:#00FFFF;
}